{
  // "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "prettier" // Make sure this is the last
  ],
  "rules": {
    "import/prefer-default-export": 0,
    "react/jsx-filename-extension": 0,
    "react/jsx-props-no-spreading": 0,
    "react/no-array-index-key": 0
  },
  "env": {
    "browser": true
  }
}
